*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif !important;
font-family: 'Poppins', sans-serif !important;
font-weight: 700;
}
p{
    color: #6b6b84 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.8 !important; 
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}.aboutt{
    font-weight: 700;
    color: #FF5D22;
}
.tty{
    background-color: #F5F5F5 !important;
    color: #848484 !important;
    border: none !important;
}
.firstpage{
    background-image:url(/image/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: 3rem;
    }
.iii1 img{
    width: 100%;
    height: auto;
}
.logo4{
    width: 100%;
}
.fff li a{
    transition: .1s;
}

.fff li a:hover{
  color: #FF5D22 !important;
}
.ffg{
    padding-top: 2rem;
    padding-bottom: 6rem;
}
.bbtn{
        background-color: #ff5d22;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 8px 15px 8px 30px;
        font-weight: 700;
        text-align: center;
        transition: .5s;
        text-decoration: none;
}
.fa-arrow-right-long{
    transition: .5s;
}
.bbtn2{
    background-color: #ff5d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px 30px;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    text-decoration: none;
    &:hover{
        .fa-arrow-right-long{
            transform: translateX(12px);
        }
    }
}
.vvv{
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.ttt{
    display: flex;
}
.tty{
    margin-right: 1rem;
    margin-left: 1rem;

}
.form-control:focus{
    box-shadow: none !important;
}
.nav-link{
    color: #221638 !important;
}
.sst{
    padding: 30px;
}
.lh{
    line-height: 25px;
}
.sst{
    font-size: 20px;
    background: #ffffff;
    padding: 14px;
    border-radius: 50%;
    transition: .5s;
    // color: #FF5D22;
}
.textt{
    @include center();
    margin-bottom: 2rem;
}
.v5{
    margin-top: 1.7rem;
}
.mmg{
    transition: all ease-in-out .5s;
    color: #FF5D22;
    text-decoration: none;
    font-weight: 600;
    &:hover .sst{
        background-color: #FF5D22;
        color: white;
    }
}
@media screen and (max-width:576px) {
    .logo4{
        width: 80%;
    }
}
@media screen and (max-width:992px) {
    .nav-link{
        text-align: center !important;
    }
    .ttt{
        display: block !important;
    }
    .ccc{
        display: flex;
        justify-content: center;
        margin-top: 20px; 
    }
    .bbtn{
        width: 100% !important;
    }
    .tty{
        margin: auto !important;
    }
    .ffg{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .nnvb{
        text-align: center;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .bbtn{
        width: 20% !important;
    }
    .tty{
        width: 50% !important;
    }
    .ttt{
        display: flex;
        justify-content:center ;
    }


}
}
@media screen and (max-width:992px){
    .firstpage{
        h1{
            margin-top: 1.5rem;
    font-size: 2rem;
        }
    }
    .vvv{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .tty::placeholder{
        text-align: center;
    }
    .pagetwo .gg2 p{
        text-align: center !important;
    }
    .bbgg5{
        text-align: center;
    }
    .ccn{
        text-align: center;
    }
    .pagethree p{
        text-align: center;
    }
}
.vbv{
    color: #FF5D22;
    font-weight: 600;
}
// new section



.pagetwo{


    .ggg{
        text-align: center;
        transition: .5s;
        // margin: 10px;
    }
    .gg2{
        margin: 10px;
        border: 1px solid #f5f3f2;
        padding: 32px;
        border-radius: 5px;
        transition: .5s;
        img{
            transition: .5s;
        }
        &:hover{
            border-color: #FF5D22;
            img{
                transform: translateY(-20px);
            }
        }
        p{
            text-align: justify;

        }
    }
    .lpll{
    position: absolute;
    height: 1px;
    width: 0;
    background-color: #FF5D22;
    left: 50%;
    bottom: 0;
    transition: .5s;
    left: 50%;
    bottom: -2px;
}
    .vvg{
        position: relative;
        &:hover{
            cursor: pointer;
            .lpll{
                width: 100%;
                left: 0;
            }
        }
    }
    
    .ggg p{
        line-height: 25px;

    }
    .ggg span{
        font-weight: 600;
        color: #FF5D22;
    }
    p{
        color: #6B6B84;
    }
    h3,h1{
        margin-top: 21px;
        color: #221638;
    }

}

// new section
.pagethree{
    p{
        color: #6b6b84;
    }
    h3{
        font-size: 20px;
    }

    .fa-arrow-right-long{
        transition: .5s;
    }
    .bbtn2{
        background-color: #ff5d22;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 10px 30px;
        font-weight: 700;
        text-align: center;
        transition: .5s;
        text-decoration: none;
        &:hover{
         
            .fa-arrow-right-long{
                transform: translateX(10px);
            }
        }
    }
    
    .ggr{
        display: flex;
        border: 1px solid  #F0EAE2;
        border-radius: 5px;
        padding: 12px;
        margin-top: 21px;
        transition: .5s;
        &:hover{
            border-color: #FF5D22;
        }
        .iii6{
            @include center();
        }
        .texttt{
            margin-left: 15px;
            padding: 8px;
            h3{
                font-weight: 700
            }
        }
    }

}
.jjjh{
    @include center();
}
@media screen and (max-width:576px){
    .pagethree .ggr{
        display: block;
    }
    .texttt{
        text-align: center;
        padding-top: 15px;
    }
    .pagethree .ggr {
        padding-top: 17px;
    }
    .bbgg5{
        text-align: center;
    }
    .pagethree .ggr .texttt {
        margin-left: 0px;
        padding: 4px;
    }
    .pagethree h3{
        margin-top: 10px;
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px){
    .pagethree .ggr{
        display: block;
    }
    .texttt{
        text-align: center;
        padding-top: 15px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .kk0{
        margin-top: 31px !important;
    }
}
// page4

.page4{

    background-image: url(/image/bgg3.png);
    transition: .5s;
    .btn22{
        background-color: transparent;
    border: 1px solid #FF5D22;
    border-radius: 5px;
    color:#ff5d22;
    padding: 12px 30px;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    text-decoration: none;
        &:hover{
            border-color: transparent;
            color: #fff;
            background-color: #ff5d22;
        }
}
    .ggg{
        // overflow: hidden;
        background-color: #fff;
        padding: 40px 40px 40px 40px;
        overflow: hidden;
        position: relative;
        transition: 1s;
        border-radius: 7px;
        margin: 0px 0px 25px;

            &:hover::after{
                transition: .5s;
                background: linear-gradient(to right top,#ff8008,#ff8a0d,#ff9413,#ff9d1a,#ffa621) !important;
              
            }
            .arrow{
                transition: .5s;
               
            }
            &:hover .arrow{
                transform: translateX(7px);
             }
             &:hover .vvg{
                color: #fff;
             }
        .hhggg{
            z-index: 10;
            position: inherit;
        }
        &::after{
            z-index: 1;
            position: absolute;
            content: "";
            width: 114%;
            height: 100%;
            left: 17px;
            transform: rotate(-12deg);
            top: 86%;
          
            background: linear-gradient(to right top, #66eaff, #8feffd, #b0f3fd, #ccf7fc, #e7fbfd);
            transition: .5s;
           
        }
        .vvg{
            color: #FF5D22;
            font-weight: 600;
            position: absolute;
            bottom: -33%;
            right: 1%;
            transition: .8s;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
            &:hover .arrow{
                transform: translateX(10px);
            }
        }
        
        img{
            width: 60px;
            margin-bottom: 1.5rem;
        }
        h3{
            font-size: 21px;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 2.5rem;
        }

    }
    @media screen and (max-width:768px) {
        .ggg::after{
            width: 145%;
    left: -125px;
        }
    }
    @media screen and (max-width:992px){
   
        .ggg::after{
            width: 114%;
            height: 100%;
            left: 19px;
            transform: rotate(-14deg);
            top: 86%;
        }
    }
    @media screen and (min-width:992px) and (max-width:1200px) {
        .ggg{
            padding: 20px 20px 20px 20px;
        }
        .ggg .vvg{
            bottom: -23%;
        }
    }
}
// page5
.page5{

    .gg2{   
        margin: 10px;
        border: 1px solid #f5f3f2;
        padding: 32px;
        border-radius: 5px;
        transition: 0.5s;
        text-align: center;
        margin-top: 20px;
        &:hover{
            border: 1px solid #FF5D22;
        }
    }
    .gg2 img{
         width: 70%;
    }
    h3{
        font-weight: 600;
        font-size: 21px;
        margin-top: 20px;
    }
    p{
        line-height: 23px;
    }
    @media screen and (min-width:576px) and (max-width:768px){
         .gg2{
            padding: 15px;
         }
    }
}


@keyframes example {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
  }
.hh0  img{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: example;
    // position: relative;
    animation-timing-function: linear;
    width: 30px !important;
    padding-right: 4px;
    display: initial !important;
}

.page4 p{
    color: #6B6B84;
}
.page5 p{
    color: #6B6B84;
}
.page6 p{
    color:#6b6b84 ;
}
// page6
.page6{

    .hh0  img{
        margin-right: 10px;
    }
    background-image: url(/image/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .btn22{
        background-color: #ff5d22;
    border: 1px solid transparent;
    border-radius: 5px;
    color:#fff;
    padding: 12px 30px;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    text-decoration: none;
        &:hover{
            border-color: #ff5d22;
            color: #ff5d22;
            background-color: transparent;
        }
    }
    @media screen and (max-width:992px){
        .bbgg{
            text-align: center;
        }
    }
    .owl-theme .owl-nav.disabled+.owl-dots{
        margin-top: -45px;
    }
    .owl-theme .owl-dots .owl-dot.active span {
        padding: 6px;
    }
    .hhh{
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }



}
// slider
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-250px * 7))
    }
  }
  .slider {
    height: 90px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
    width: calc(250px * 14)
    ;
  }
  
  .slide {
    width: 250px;
    img{
        width: 100px;
    }
   
}
@media screen and (max-width:768px){
    .slide{
        width: 150px;
    }
}
.mty7{
    background-color: #f1f8fb;
    // background-image: url(/image/shape3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 135px;
    top: 0;
}
@media screen and (max-width:992px) {
    .mty7{
        background-image: none;
    }
}
.bbtn2{
    background-color: #ff5d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    text-decoration: none;
}
@media screen and (max-width:576px){
    .jhjh{
        text-align: center;
    }
}
.vvff{
    background-color: #f1f8fb;
    .owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
}
.box1{
    background-color: #fff;
    padding: 100px 30px 30px;
    position: relative;
    border-radius: 5px;
    margin: 20px;
    max-width: 480px;
}
.nnn{
    font-size: 100px;
    color: #f1f8fb;
    position: absolute;
    top: 2px;
    right: 36%;

}
footer{
    position: relative;
    p{
        font-size: 15px !important;
    }
    background-color: #fffbf5;
    h4{
        font-weight: 600;
    }
   ul{
    margin: 0;
    padding: 0;
    list-style-position: outside;
    li{
       list-style-type: none;
        list-style-position: outside;
    }
    a{
        text-decoration: none;
        color: #6b6b84;
        font: 600;
        line-height: 35px;
        font-size: 15px;
    }
   }
   .icons i{
    margin-right: 4px;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    color: white;
    background-color: #6B6B84;
    transition: .6s;
    &:hover{
        background-color: #ff5d22;
        cursor: pointer;
    }
   }
   .address i{
    color: #ff5d22;
    padding-right: 10px;
   }

}
@media screen and (max-width:576px){
    .d3{
        margin-top: 1.5rem !important;
    }
    .page4 .ggg .vvg {
        bottom: -28%;
    }
}
.pt-100{
    padding-top: 100px;
}
.pb-70{
    padding-bottom: 70px;
}
.yyyt{
    margin-top: 3rem;
}
.vvv{
    padding: 3rem !important;
}
.rrr{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
@media screen and (max-width:576px) {
    .pt-100{
        padding-top: 60px;
    }
    .pb-70{
        padding-bottom: 40px;
    }
    .yyyt{
        margin-top: 1.5rem;
    }
    .bb{
        margin-top: 3rem !important;
    }
    .rem-1-5{
        margin-top: 1.5rem;
    }
    .rem-1{
        margin-top: 1rem;
    }
    .vvv{
        padding: 8px !important;
    }
    .rrr{
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .bbbb{
        margin-top: 2rem !important;
    }
    .rre{
        display: block;
    }
    .t4{
        text-align: center;
    }
    
}
@media screen and (min-width:768px){
    .uu{
        float: right;
    }
}
.ddd3{
    color: #ff5d22;
}
.rre b{
    font-weight: 700;
}
// @keyframes moveleftbounce{
//     0% {
//         transform: translateX(0);
//     }
    
//     50% {
//         transform: translateX(-20px);
//     }
//     100% {
//         transform: translateX(0);
//     }
// } 
// .tttg{
//     animation-name: moveleftbounce 5s linear infinite;
  
// }
@keyframes moveleftbounce {
    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
  }
.tttg{
    animation: moveleftbounce 5s linear infinite;
}
@keyframes example2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
  }
.kjkj{
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: example2;
    // position: relative;
    animation-timing-function: linear;
    width: 30px !important;
    // display: initial !important;
}
// spacing